.booCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 536px;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    border: 2px solid var(--main-color);
}

[data-lang='Arabic'] .booCard {
    direction: rtl;
    font-family: binkoara;
}


.booCard .pic {
    position: absolute;
    height: 300px;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    top: 9px;
    left: 21px;
}

[data-lang='Arabic'] .booCard .pic {
    right: 21px;
}

.booCard .pic img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.booCard .text {
    padding: 20px;
    position: absolute;
    bottom: -15px;
    left: 11px;

}

[data-lang='Arabic'] .booCard .text {
    bottom: -9px;
}

.booCard .text h3 {
    color: var(--main-color);
}

.booCard .text span {
    color: var(--secondary-color);
}


@media (min-width:393px) and (max-width:991px) {
    .booCard {
        width: 250px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .booCard .pic {
        width: 205px;
        position: absolute;
        left: 46%;
        height: 306px;
        transform: translateX(-50%);
    }

    .booCard .text {
        padding: 0;
        bottom: 9px;
        position: absolute;
        text-align: center;
    }

    .booCard .btnCard {
        position: relative;
        width: 100%;
        height: 43px;
    }

    .booCard .text button {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    [data-lang='Arabic'] .booCard .pic {
        right: 46%;
        transform: translateX(50%);
    }

    [data-lang='Arabic'] .booCard .text {
        right: 8px;
        position: absolute;
        top: 328px;
    }
}

@media (max-width:392px) {
    .booCard {
        width: 363px;
        position: relative;
    }

    .booCard .pic {
        width: 250px;
        position: absolute;
        right: 50%;
        height: 325px;
        left: initial;
        transform: translateX(50%);
    }

    [data-lang='Arabic'] .booCard .pic {
        right: 50%;
        transform: translateX(50%);
    }

    .booCard .text {
        padding: 0;
        bottom: 9px;
        position: absolute;
        text-align: center;
    }

    .booCard .btnCard {
        position: relative;
        width: 100%;
        height: 43px;
    }

    .booCard .text button {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    /* [data-lang='Arabic'] .booCard .pic {
        right: 8px;
    } */

    [data-lang='Arabic'] .booCard .text {
        right: 8px;
        position: absolute;
        top: 350px;
    }
}